ul {
  list-style: none;
  width: 400px;
}

li {
  background: pink;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

li button {
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

li button:hover {
  background-color: black;
  color: white;
}

.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

notes__btns {
  width: 35%;
}